.avatar-center {
  display:flex;
  justify-content: center;
  align-content: center;

}


.title > h2{
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}

.invite-join-buttons {
  float:left;
  margin: 5px;
}

.bandtogether-pic {
  margin-top: 10px;
}
