/*// Place all the styles related to the Concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.jumbotron {
  background-image: url('jumbotron.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  color: white;
  font-weight: bolder;
}


.signed_in_jumbo {
  background-image: url('concerts_page.jpeg');
  height: 400px;
  margin-top: 20px;
  margin-right: 40px;
}

.b2g_jumbo {
  background-image: url('backs.jpeg');
  height: 400px;
  margin-top: 20px;
}

.users_jumbo {
  background-image: url('shadows.jpeg');
  height: 400px;
  margin-top: 20px;
  background-position: top;
}





.jumbo > h1 {
  font-size: 80px;
  font-family: 'Megrim', cursive;
  font-weight: 900;
  text-shadow: 2px 2px black;
  margin-left: 20px;
}

.align-right {
  text-align: right;
}

.box {
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  color: #00ffff;
  padding: 10px 10px 10px 10px;
  font-family: 'Megrim', cursive;
  margin-right: 20px;
  margin-top: 20px;
}

.header {
  text-align: center;
  background-image: url('https://hd.unsplash.com/17/unsplash_5252bb51404f8_1.JPG');
  background-position: center;
  background-size: cover;
  color: black;
  height: 100px;
}

.header > h1 {
  font-size: 80px;
  font-family: 'Megrim', cursive;
  font-weight: 900;
  text-shadow: 2px 2px white;
}

.center {
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
}

.jumbotron h1 {
  font-family: 'Megrim', cursive;
}

.jumbotron .btn {
  width: 175px;
  background-color: #373854;
  border-color: white;
  margin-left: 25px;

}

.jumbotron .btn a {
  color: white;
}

.jumbotron .btn a:hover, .jumbotron .btn a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


.sidebar {
    text-align: center;

}


.sidebar h2 span {
  background: #f7f7f7;
  padding: 0 15px;
  position: relative;
  z-index: 1;


}

.sidebar h2:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 96%;
  top: 78%;

}
