/*// Place all the styles related to the Concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


.jumbotron {
  background-image: url('https://hd.unsplash.com/photo-1470229538611-16ba8c7ffbd7');
  background-size: cover;
  width: 100%;
  height: 500px;
  font-family: 'Megrim', cursive;
  color: white;
  font-weight: bolder;
}
