.dash-name{
  background-image: url('https://hd.unsplash.com/photo-1453090927415-5f45085b65c0');
  height: 150px;
  width: 100%;
  background-size: cover;
  color: white;
  text-align: left;
}

.dash-name > h2 {
  font-family: Megrim, cursive;
  color: #00ffff;
  text-shadow: 1px 1px black;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dash-name > h3 {
  font-family: Megrim, cursive;
  color: #00ffff;
  text-shadow: 1px 1px black;
  text-align: center;
  padding-bottom: 10px;
}
