// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in {
  background-color: #00ffff;
  color: black;
  border-color: darkgrey;
}

.sign-in:hover {
background-color:#99ffff;
}
